src/ExtCalc/ExtCalcHighlighting/*.cs
src/ExtCalc/ExtCalcHighlighting/*.xml
src/ExtCalc/ExtCalcHighlighting/*.target

src/ControlFlowGraph.Test/*.dot
src/ControlFlowGraph.Test/*.yrd.fs


src/ExtCalc/*.yrd.fs
src/ExtCalc/Lexer.fs
src/ExtCalc/Lexer_Abstract.fs
src/Calc/Lexer.fs
src/RNGLR.OtherSppfTest/res.dot
src/TSQL/Lexer.fs
src/TSQL/Lexer_Abstract.fs
src/ExtCalc/*.dot

src/Tests/AbstractRNGLR/DOT/ast.dot
src/ControlFlowGraph.Test/*.yrd.fs
src/GLL.AbstractParser.SimpleTest/BadLeftRecursion.yrd.fs
src/GLL.AbstractParser.SimpleTest/*.yrd.fs
src/GLLParser.SimpleTest/*.yrd.fs
src/GLLParser.SimpleTest/res.dot
src/ControlFlowGraph.Test/*.dot
src/YC.ReSharper.AbstractAnalysis.Plugin/YC.ReSharper.AbstractAnalysis.Plugin.csproj.user

Tests/AbstractRNGLR/DOT/sppf.dot*
Tests/AbstractRNGLR/DOT/_sppf.dot*
Tests/AbstractRNGLR/Inputs/*.pdf
Tests/RNGLR/sppf.dot*
