*.sqn filter=lfs diff=lfs merge=lfs -text
*.grp filter=lfs diff=lfs merge=lfs -text
*.cvr filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
*.owl filter=lfs diff=lfs merge=lfs -text
*.rdf filter=lfs diff=lfs merge=lfs -text
*.gene_info filter=lfs diff=lfs merge=lfs -text
homologene.data.txt filter=lfs diff=lfs merge=lfs -text
interpro.xml filter=lfs diff=lfs merge=lfs -text
*.keg filter=lfs diff=lfs merge=lfs -text
geneToPath.txt filter=lfs diff=lfs merge=lfs -text
UniprotToEntrezGene.txt filter=lfs diff=lfs merge=lfs -text
UniprotToGO.txt filter=lfs diff=lfs merge=lfs -text
UniprotToInterpro.txt filter=lfs diff=lfs merge=lfs -text
UniprotToString.txt filter=lfs diff=lfs merge=lfs -text
*.sln text eol=lf
*.fsproj text eol=lf
*.fs text eol=lf