[Rr]elease/
[Bb]in/
obj/
*.suo
*.user
*.orig

GNESCCGeneratedTests/
src/Development/Utils/tests.fsproj.inc
ook_based_test/report/picts/*
*.ompv
*.csproj.user
VSYard/VSYard/VSYard.csproj.user
Tests/RNGLR/*/log_*.txt
Tests/CYK/basic_term_noLBL.yrd.CYK.fs
Examples/CYK/yc/*
*.psess
*.vsp
*/UpgradeReport*
*/UpgradeLog*
*/UpgradeReport*
Builder/SolutionTemplate/*.fsl
Builder/SolutionTemplate/*/*.fs
Builder/SolutionTemplate/*/*.fsl
Builder/SolutionTemplate/*/*.fsy
Builder/SolutionTemplate/*/*.cs
Builder/SolutionTemplate/*/*.yrd
Builder/SolutionTemplate/*/*.fsi
Examples/RNGLR/MSSql/ast.dot
Examples/RNGLR/MSSql/ast.dot.pdf
Examples/RNGLR/MSSql/log.txt
Examples/yc/*
Examples/CYK/DialectsCYKDemo/SQLSelectDemo/SelectDemo.fs
Examples/CYK/DialectsCYKDemo/SQLSelectDemo/SelectDemo.yrd.CYK.fs
src/YardFrontend/Lexer.fs
src/YardFrontend/log.txt
Examples/RNGLR/MSSql/out
Examples/RNGLR/MSSql/epsilons/*
Examples/Calc/yc/AntlrFrontend.dll
Examples/Calc/yc/CYK.dll
Examples/Calc/yc/CYKCommon.dll
Examples/Calc/yc/CYKGenerator.dll
Examples/Calc/yc/FParsecGenerator.dll
Examples/Calc/yc/FSharp.PowerPack.Parallel.Seq.dll
Examples/Calc/yc/FsYaccFrontend.dll
Examples/Calc/yc/FsYaccPrinter.dll
Examples/Calc/yc/Irony.dll
Examples/Calc/yc/Irony.Samples.dll
Examples/Calc/yc/TreeDump.dll
Examples/Calc/yc/YardPrinter.dll
Builder/workdir/*
Examples/RNGLR/MSSql/stack.dot
Examples/RNGLR/MSSql/*.dot.*
Examples/RNGLR/MSSql/MsParser.fs
ppush.txt
Examples/RNGLR/MSSql/FsYard.log
src/RNGLRParser.ErrorRecoveryTest/log*.txt
Examples/RNGLR/MSSql/mssql.yrd.*
src/AbstractLexer.Test/log.txt
src/AbstractLexer.Test/out
Examples/RNGLR/MSSql/Lexer.fs
Examples/RNGLR/PLSql/*.dot
NuGet/*.nupkg
demo_picts/*
demo_picts_bu/*
Examples/RNGLR/PLSql/*.pdf
Examples/RNGLR/PLSql/FsYard.log
src/YardFrontend/out
src/RNGLRAbstractParser.Test/out
src/RNGLRAbstractParser.Test/Lexer.fs
src/RNGLRAbstractParser.Test/log.txt
Examples/RNGLR/PLSql/MsParser.fs
Examples/RNGLR/PLSql/MsParser.fs
src/AbstractLexer.Test/*.dot
src/AbstractLexer.Test/*.dot.pdf
Examples/RNGLR/PLSql.Test/*.pdf
Examples/RNGLR/PLSql.Test/*.dot
Examples/RNGLR/PLSql/*.dot
Examples/RNGLR/PLSql/*.pdf
Examples/RNGLR/PLSql/epsilons/*.dot
Examples/RNGLR/PLSql/Lexer.fs
src/RNGLRParser.ErrorRecoveryTest/res.dot
src/RNGLRParser.SimpleTest/*.yrd.fs
src/RNGLRParser.SimpleTest/log.txt
Examples/RNGLR/PLSql/*.svg
Examples/RNGLR/PLSql/FsYard.log
Examples/AbstractAnalysis/AbstractAnalysis/log.txt
Examples/AbstractAnalysis/AbstractAnalysis/out
src/RNGLRParser.SimpleTest/out
Examples/AbstractAnalysis/SQL/LogsTrees/*
src/packages/*
Examples/AbstractAnalysis/SQL/*.dot
Examples/AbstractAnalysis/SQL/*.pdf
src/YardFrontend/out
src/out
Examples/AbstractAnalysis/SQL/tests/results/*
Examples/AbstractAnalysis/AbstractAnalysisTests/*.ast.dot*
Examples/AbstractAnalysis/SQL/result/*
Tests/SimpleHTMLGenerator/*.html
src/RNGLRParser.ErrorRecoveryTest/*.yrd.fs
src/YardFrontend/Parser.fs
Examples/AbstractAnalysis/SQL/tests/*.dot.pdf
src/RNGLRAbstractParser.Test/*.yrd.fs
src/RNGLRParser.ErrorRecoveryTest/*.yrd.fs
src/FsYaccFrontend/Parser.fs
*.userprefs
src/packages/*
Examples/Calc/Calc/FsYARD/*
Examples/Calc/packages/*
NuGet/FsYardPacket/*
src/FParsecGenerator.Test/log.txt
src/FParsecGenerator.Test/log1.txt
src/FParsecGenerator.Test/out
Examples/AbstractAnalysis/packages/*
src/TSQL/log.txt
NuGet/out
src/YC.ReSharper.AbstractAnalysis/YC.ReSharper.AbstractAnalysis.Plugin.Core/FsYARD/*
src/Calc/FsYARD/*
src/TSQL/FsYARD/*
src/ConstantPropagation/FsYARD/*
src/JSON_Parser/FsYARD/*
src/TSQL/log.txt
*/FsYard.log
src/Calc/FsYARD/*
src/TSQL/FsYARD/*
src/FsYaccFrontend/out
**/FsYard.log
src/TSQL/MsParser.fs
Tests/Alvor/GenerateTestforAlvor/packages/*
src/packages/*
Tests/AbstractRNGLR/DOT/errors1.dot.pdf
Tests/AbstractRNGLR/DOT/errors10.dot.pdf
Tests/AbstractRNGLR/DOT/errors11.dot.pdf
Tests/AbstractRNGLR/DOT/errors12.dot.pdf
Tests/AbstractRNGLR/DOT/errors122.dot.pdf
Tests/AbstractRNGLR/DOT/errors13.dot.pdf
Tests/AbstractRNGLR/DOT/errors14.dot.pdf
Tests/AbstractRNGLR/DOT/errors15.dot.pdf
Tests/AbstractRNGLR/DOT/errors16.dot.pdf
Tests/AbstractRNGLR/DOT/errors2.dot.pdf
Tests/AbstractRNGLR/DOT/errors3.dot.pdf
Tests/AbstractRNGLR/DOT/errors4.dot.pdf
Tests/AbstractRNGLR/DOT/errors5.dot.pdf
Tests/AbstractRNGLR/DOT/errors6.dot.pdf
Tests/AbstractRNGLR/DOT/errors7.dot.pdf
Tests/AbstractRNGLR/DOT/errors8.dot.pdf
Tests/AbstractRNGLR/DOT/errors9.dot.pdf
src/TSQL/Highlight_*.cs
src/TSQL/*Node.cs
src/TSQL/out
*log.txt
**/out
**/Calc.yrd.fs
src/Calc/CalcHighlighting/*
src/JSON_Parser/JSONHighlighting/*
src/TSQL/TSQLHighlighting/*
BuildScripts/packages/*
src/JSON_Parser/JSONParser.fs
*.csproj.user
src/RNGLR.OtherSppfTest/*.yrd.fs
src/RNGLR.OtherSppfTest/*.txt
src/RNGLRParser.SimpleTest/res.dot
src/TSQL/res.dot
src/JSON_Parser/res.dot
src/RNGLRAbstractParser.Test/res.dot
