
obj/
[Rr]elease/
*.suo
[Bb]in/
GNESCCGeneratedTests/
YaccConstructor/Development/Utils/tests.fsproj.inc
*.orig
*.user
ook_based_test/report/picts/*
*.ompv
Tests/RNGLR/Attrs/log_Attrs.txt
Tests/RNGLR/Calc/log_Calc.txt
Tests/RNGLR/*/log_*.txt