*.sqn filter=lfs diff=lfs merge=lfs -text
*.grp filter=lfs diff=lfs merge=lfs -text
*.cvr filter=lfs diff=lfs merge=lfs -text
*.fa filter=lfs diff=lfs merge=lfs -text
*.fasta filter=lfs diff=lfs merge=lfs -text
*.fna filter=lfs diff=lfs merge=lfs -text
