<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscoverPackageSources" version="0.1.23" />
  <package id="YaccConstructor" version="0.0.8.12" />
  <package id="YC.AbstractAnalysis.Lexing.Generator" version="0.0.6.5" />
  <package id="YC.FsYacc_RNGLR" version="0.0.6.6" />
  <package id="YC.FsYARD" version="0.2.8.7" />
  <package id="YC.FsYARD" version="0.2.8.7" />
</packages>