<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mainApp" value="..\..\..\Main\bin\debug\Main.exe" />
    <add key="mainPath" value="..\..\..\Main\bin\debug" />
    <add key="testsPath" value="..\..\..\..\Tests\" />
    <add key="tmpPath" value="C:\tmp" />
    <add key="targets" value="(YardFrontend,_RACCGenerator,_RACCTester)" />
    <add key="outPath" value="testResults.csv" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>