
USE [master]
GO
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'mdw_control')
ALTER DATABASE [mdw_control] SET  SINGLE_USER WITH ROLLBACK IMMEDIATE
GO
USE [master]
GO
/****** Object:  Database [MDW_Control]    Script Date: 08/22/2008 14:31:53 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'mdw_control')
DROP DATABASE [mdw_control]
GO

CREATE DATABASE [mdw_control] ON  PRIMARY 
( NAME = N'mdw_control', FILENAME = N'$(DataFilePath)$(MDW_ControlDataFile)' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mdw_control_log', FILENAME = N'$(LogFilePath)$(MDW_ControlLogFile)' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [mdw_control]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [mdw_control] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
USE [MDW_Control]
GO
CREATE SCHEMA [mdw] AUTHORIZATION [dbo]
GO
CREATE SCHEMA [ssas] AUTHORIZATION [dbo]
GO

