USE [master]
GO
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'mdw')
ALTER DATABASE [mdw] SET  SINGLE_USER WITH ROLLBACK IMMEDIATE
GO
USE [master]
GO
/****** Object:  Database [mdw]    Script Date: 08/22/2008 14:31:53 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'mdw')
DROP DATABASE [mdw]
GO

CREATE DATABASE [mdw] ON  PRIMARY 
( NAME = N'mdw', FILENAME = N'$(DataFilePath)$(MDWDataFile)' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'mdw_log', FILENAME = N'$(LogFilePath)$(MDWLogFile)' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [mdw]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [mdw] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
