<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aleaCUDASettings" type="Alea.CUDA.Settings, Alea.CUDA" />
  </configSections>
  <aleaCUDASettings>
    <monitor name="default" />
    <cuBLAS version="7.5"  />
  </aleaCUDASettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>