<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net40" />
  <package id="FSharpx.Text.StructuredFormat" version="1.8.41" targetFramework="net40" />
  <package id="JetBrains.ReSharper.SDK" version="8.0.1243" targetFramework="net40" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40" />
  <package id="YC.AbstractAnalysis.Lexing.Common" version="0.0.5.3" targetFramework="net40" />
  <package id="YC.AbstractAnalysis.Lexing.Core" version="0.0.5.3" targetFramework="net40" />
  <package id="YC.AbstractAnalysis.Parsing.Common" version="0.0.5.3" targetFramework="net40" />
  <package id="YC.Core" version="0.0.6.3" targetFramework="net40" />
  <package id="YC.Generators.RNGLR" version="0.0.5.3" targetFramework="net40" />
  <package id="YC.Tools" version="0.0.5.3" targetFramework="net40" />
  <package id="YC.Utils.SourceText" version="0.1.6500.3" targetFramework="net40" />
</packages>