<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net40" />
  <package id="YC.AbstractAnalysis.Lexing.Common" version="0.0.6.5" targetFramework="net40" />
  <package id="YC.AbstractAnalysis.Lexing.Core" version="0.0.6.5" targetFramework="net40" />
  <package id="YC.AbstractAnalysis.Parsing.Common" version="0.0.6.5" targetFramework="net40" />
</packages>