<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ReSharper.Util" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ReSharper.ComponentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ReSharper.ProjectModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ReSharper.DocumentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ReSharper.ActivityTracking" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ReSharper.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.555.*" newVersion="9.0.20141204.190166" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="YAXLib" publicKeyToken="7cc39f8266ad1835" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.14350" newVersion="2.6.4.14350" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>