<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Brahma.FSharp" version="0.3.5.0" targetFramework="net45" />
  <package id="FSharpx.Core" version="1.8.41" targetFramework="net45" />
  <package id="FSharpx.Text.StructuredFormat" version="1.8.41" targetFramework="net45" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="OpenCL.Net" version="2.2.9.0" targetFramework="net45" />
</packages>