<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea.CUDA" version="2.2.0.3307" targetFramework="net45" />
  <package id="Alea.CUDA.Fody" version="2.2.0.3307" targetFramework="net45" developmentDependency="true" />
  <package id="Alea.CUDA.IL" version="2.2.0.3307" targetFramework="net45" />
  <package id="Alea.CUDA.Unbound" version="2.2.0.3307" targetFramework="net45" />
  <package id="Alea.IL" version="2.2.0.3307" targetFramework="net45" />
  <package id="Brahma.FSharp" version="1.0.1" targetFramework="net45" />
  <package id="Fody" version="1.30.0-beta01" targetFramework="net45" developmentDependency="true" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net45" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.7" targetFramework="net45" />
  <package id="FSharpx.Collections" version="1.15.1" targetFramework="net45" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="OpenCL.Net" version="2.2.9.0" targetFramework="net45" />
  <package id="YC.PrettyPrinter" version="0.0.5" targetFramework="net45" />
</packages>