<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="testsPath" value="..\..\..\..\Tests\RACC\test_arithm_glr\test_arithm_glr_2.yrd.in"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>