<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- sets the agents count. : int -->
    <add key="agents" value="2" />
    <!--add key="input" value="s" /-->
    
    <!-- Service Bus specific app setings for messaging connections --> 
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  </appSettings>
</configuration>