<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- sets the agents count. : int -->
    <add key="agents" value="2" />    
    <add key="headsBias" value="0.5" />
    <add key="middlesBias" value="55.0" />
    <add key="headsMiddlesBias" value="4.0" />
    <add key="finalBias" value="10.0" />
    <add key="tmpDir" value="../../BioSearchOut" />
        
    <!--add key="input" value="s" /-->
    
    <!-- Service Bus specific app setings for messaging connections --> 
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.99.99" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>