<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="3.0.2" targetFramework="net45" />
  <package id="FSharpx.Collections" version="1.13.4" targetFramework="net45" />
  <package id="FSharpx.Collections.Experimental" version="1.13.4" targetFramework="net45" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net451" />
  <package id="YC.AbstractAnalysis.Parsing.Common" version="0.0.8.5" targetFramework="net4" />
</packages>