<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.4" targetFramework="net472" />
  <package id="Alea.CudaToolkit" version="1.0.9" targetFramework="net472" />
  <package id="Alea.Interop" version="1.0.9" targetFramework="net472" />
  <package id="Brahma.FSharp" version="1.1.5" targetFramework="net472" />
  <package id="DotNet.Contracts" version="1.10.10126.4" targetFramework="net472" developmentDependency="true" />
  <package id="FSharp.Compiler.Tools" version="10.0.2" targetFramework="net45" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net45" />
  <package id="FSharp.Quotations.Evaluator" version="1.0" targetFramework="net472" />
  <package id="FSharpx.Collections" version="1.15.0" targetFramework="net472" />
  <package id="ManagedCuda-100" version="10.0.31" targetFramework="net472" />
  <package id="ManagedCuda-CUBLAS" version="10.0.31" targetFramework="net472" />
  <package id="ManagedCuda-CUSPARSE" version="10.0.31" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net472" />
  <package id="MathNet.Numerics.FSharp" version="4.7.0" targetFramework="net472" />
  <package id="OpenCL.Net" version="2.2.9.0" targetFramework="net472" />
  <package id="YC.PrettyPrinter" version="0.0.5" targetFramework="net472" />
  <package id="YC.QuickGraph" version="3.7.5-deta" targetFramework="net472" />
</packages>